<div class="container-fluid">
    <div class="row">
        <div class="offset-4 col-4">
            <select class="form-select" (change)="onOperatorChange($event)">
                <option disabled>Select Operator</option>
                <option *ngFor="let operator of rxjsOperators" [value]="operator">
                    {{ operator }}
                </option>
            </select>
        </div>
    </div>
</div>