<div class="container-fluid px-5">
    <div class="row">
        <div class="col-4">
            <form #myform="ngForm" (ngSubmit)="addCourse(myform)">
                <div class="form-group mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" ngModel name="name" id="name" aria-describedby="name">
                </div>
                <div class="form-group mb-3">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" ngModel name="department" id="department">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-8">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courseItems; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ course?.name }}</td>
                        <td>{{ course?.department }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>