<div class="container-fluid px-5">
            <button class="btn btn-primary mb-3" (click)="refreshCache()">Refresh</button>
            <table class="table table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Team</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let player of playerList">
                        <td>{{ player?.first_name }}</td>
                        <td>{{ player?.last_name }}</td>
                        <td>{{ player?.team?.full_name }}</td>
                        <td><button (click)="getPlayerDetails(player?.id)">Details</button></td>
                    </tr>
                </tbody>
            </table>
</div>