<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand" routerLink="/">{{ 'advancedAngularConcepts' | translate }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">{{ 'home' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/masters">{{ 'masters' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/react-component">{{ 'reactComponents' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/state-management">State Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/rxjs">RxJS</a>
                </li>
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
                            {{ 'changeLanguage' | translate }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem (click)="useLanguage('en')">English</button>
                            <button ngbDropdownItem (click)="useLanguage('de')">German</button>
                            <button ngbDropdownItem (click)="useLanguage('fr')">French</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mt-4">
    <router-outlet></router-outlet>
</div>

<!-- <h1>TinyMCE 5 Angular Demo</h1>
<editor
  [init]="{
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar:
      'undo redo | formatselect | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | removeformat | help'
  }"
></editor> -->
