<div class="container-fluid px-5">
    <input type="radio" id="dog" name="master" value="dog" (change)="masterSelected($event)">
    <label for="dog">&nbsp;Dogs</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" id="player" name="master" value="player" (change)="masterSelected($event)">
    <label for="player">&nbsp;Players</label>
    <div class="mt-3" #masterHost></div>
</div>